.navbar-container {
  background-color: lightgrey;
  height: 10vh;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
}

.navbar {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  z-index: 99;
}

.navbar__spotlight,
.navbar__art-pieces,
.navbar__favourites {
  width: calc(100vw / 3);
}

/* TO ADD  */
/* .navbar__spotlight-darker-selection,
.navbar__art-pieces-darker-selection,
.navbar__favourites-darker-selection {
  background-color: red;
  width: calc(100vw / 3);
} */

.navbar__spotlight:hover,
.navbar__art-pieces:hover,
.navbar__favourites:hover {
  background-color: grey;
  width: calc(100vw / 3);
}

.navbar a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar__home-img:hover,
.navbar__home-img:focus,
.navbar__bookmark-img:hover,
.navbar__bookmark-img:focus,
.navbar__profile-img:hover,
.navbar__profile-img:focus,
.navbar__add-question-img:hover,
.navbar__add-question-img:focus {
  animation: rotateOnce 0.7s forwards;
}
